
<div class="row">
  <div class="large-12 small-12 columns">
	<h3>Gravestone, Picture and Presents</h3>
	<div class="section_wrapper">
	  <table class="invisible_table" rows="1" cols="3" border="0">
		<tr>
		  <td align="center"><img src="http://dummyimage.com/400x400/dadada/000.png" width="100%" alt=""></td>
		  <td align="center"><img src="http://dummyimage.com/400x400/dadada/000.png" width="100%" alt=""></td>
		  <td align="center"><img src="http://dummyimage.com/400x400/dadada/000.png" width="100%" alt=""></td>
		</tr>
	  </table>
	</div>
  </div>
</div>

<div class="row">
	<div class="large-12 small-12 columns">
	  <ul class="large-block-grid-6">
		<li>
			<a class="fancybox-thumbs" data-fancybox-group="thumb" href="http://dummyimage.com/200x100/dadada/000.png">
				<img src="http://dummyimage.com/200x100/dadada/000.png" class='thumbnail-image' alt="">
			</a>
		</li>
		<li><img src="http://dummyimage.com/200x100/dadada/000.png" class='thumbnail-image' alt=""></li>
		<li><img src="http://dummyimage.com/200x100/dadada/000.png" class='thumbnail-image' alt=""></li>
		<li><img src="http://dummyimage.com/200x100/dadada/000.png" class='thumbnail-image' alt=""></li>
		<li><img src="http://dummyimage.com/200x100/dadada/000.png" class='thumbnail-image' alt=""></li>
		<li><img src="http://dummyimage.com/200x100/dadada/000.png" class='thumbnail-image' alt=""></li>
		<li><img src="http://dummyimage.com/200x100/dadada/000.png" class='thumbnail-image' alt=""></li>
		<li><img src="http://dummyimage.com/200x100/dadada/000.png" class='thumbnail-image' alt=""></li>
		<li><img src="http://dummyimage.com/200x100/dadada/000.png" class='thumbnail-image' alt=""></li>
		<li><img src="http://dummyimage.com/200x100/dadada/000.png" class='thumbnail-image' alt=""></li>
		<li><img src="http://dummyimage.com/200x100/dadada/000.png" class='thumbnail-image' alt=""></li>
		<li><img src="http://dummyimage.com/200x100/dadada/000.png" class='thumbnail-image' alt=""></li>
	  </ul>
	</div>
</div>

<!-- ------------------------------------------ -->
<!-- TOP ROW
<!-- ------------------------------------------ -->
<div class="row">
  <div class="large-12 small-12 columns">

	<h3>Thumbnail helper</h3>

	<div id="lightbox_container">

	  <a class="lightbox_contents fancybox-thumbs" data-fancybox-group="thumb" href="/assets/8.jpg">
		<img src="http://dummyimage.com/100x100/dadada/000.png" class='thumbnail-image' alt="" width='100%' height='100%'>
	  </a>
	  <a class="lightbox_contents fancybox-thumbs" data-fancybox-group="thumb" href="/assets/9.jpg">
		<img src="http://dummyimage.com/100x100/dadada/000.png" class='thumbnail-image' alt="" width='100%' height='100%'>
	  </a>
	  <a class="lightbox_contents fancybox-thumbs" data-fancybox-group="thumb" href="/assets/10.jpg">
		<img src="http://dummyimage.com/100x100/dadada/000.png" class='thumbnail-image' alt="" width='100%' height='100%'>
	  </a>
	  <a class="lightbox_contents fancybox-thumbs" data-fancybox-group="thumb" href="/assets/11.jpg">
		<img src="http://dummyimage.com/100x100/dadada/000.png" class='thumbnail-image' alt="" width='100%' height='100%'>
	  </a>

	  <a class="lightbox_contents fancybox-thumbs" data-fancybox-group="thumb" href="/assets/flower1.jpg">
		<img src="http://dummyimage.com/100x100/dadada/000.png" class='thumbnail-image' alt="" width='100%' height='100%'>
	  </a>
	  <a class="lightbox_contents fancybox-thumbs" data-fancybox-group="thumb" href="/assets/flower2.jpg">
		<img src="http://dummyimage.com/100x100/dadada/000.png" class='thumbnail-image' alt="" width='100%' height='100%'>
	  </a>
	  <a class="lightbox_contents fancybox-thumbs" data-fancybox-group="thumb" href="/assets/flower3.jpg">
		<img src="http://dummyimage.com/100x100/dadada/000.png" class='thumbnail-image' alt="" width='100%' height='100%'>
	  </a>
	</div>

  </div>
</div>




<!-- ------------------------------------------ -->
<!-- CENTER COLUMN -->
<!-- ------------------------------------------ -->
<div class="row">
  <div class="large-12 small-12 columns">
	<div class="panel">
	  <h4>A selection of sites</h4>
	</div>
  </div>
</div>

<div class="row">
  <% @selected.each_slice(3) do |slice| %>
	  <% slice.each do |item| %>
		  <%= content_tag :div, :class => 'large-4 columns' do %>
			  <img src="http://placehold.it/400x300&text=[img]"/>
			  <%= link_to(item.fullname, person_path(item)) %>
			  <%= item.get_primary_photo_tag %>
		  <% end %>
	  <% end %>
  <% end %>
</div>


<!-- Call to Action Panel -->
<div class="row">
  <div class="large-12 columns">

	<div class="panel">
	  <h4>Get in touch!</h4>

	  <div class="row">
		<div class="large-9 columns">
		  <p>We'd love to hear from you, you attractive person you.</p>
		</div>
		<div class="large-3 columns">
		  <a href="#" class="radius button right">Contact Us</a>
		</div>
	  </div>
	</div>

  </div>
</div>



<div class="row">
  <div class="large-4 small-12 columns">
	<div class="person-info">
	  <div class="person-header">
		<div class="person-name">
		  John Doe
		</div>
		<hr/>
		<div class="person-status-image">
		  <i class="foundicon-mail"></i><span>Message</span><i class="foundicon-"
		</div>
	  </div>
	  <div class="person-icon-flags">

	  </div>
	  <div class="person-text">
		<p>Nunc. Sagittis odio urna, sed urna integer egestas mattis urna? Cursus? Ut? Montes a montes eros, urna cum!
		  Scelerisque in augue arcu velit diam? Magnis mus penatibus augue, placerat dis tortor urna integer vel porta,
		  odio! Elementum tempor, tortor. Augue? Dapibus scelerisque, montes ut egestas ultricies lectus elementum!
		  Rhoncus duis magna dignissim? Pellentesque elementum, a, cras et? Ridiculus, magna dignissim? Aliquet sagittis
		  nec tempor rhoncus, rhoncus tincidunt massa augue integer et cursus, elit tristique auctor eu! Turpis. Sociis
		  a nec! Phasellus lorem aliquam scelerisque, turpis, sociis magna nec, sit sagittis, ac eu. Turpis elementum
		  nunc ac platea rhoncus? A facilisis sociis sit a porttitor penatibus! Sociis et sed phasellus dapibus vel
		  nisi, cursus scelerisque sit duis aliquet, ac purus adipiscing.</p>

		<p>Hac rhoncus porttitor pulvinar urna etiam? Dis nisi, risus. Augue parturient vel nec, ut rhoncus cras urna
		  porttitor et! Ridiculus, porttitor parturient dis tortor urna nisi mid parturient, turpis mauris ridiculus
		  nisi augue mauris odio, porta vel pulvinar. Turpis? Adipiscing proin porta? Urna, placerat, odio sit non.
		  Rhoncus non non ac odio rhoncus. In ultrices. Parturient tempor a dapibus ultricies adipiscing pid habitasse
		  mauris egestas, sociis sit amet, elementum! Mid sed! Porta penatibus dignissim ultrices ac ut tempor
		  scelerisque, nascetur porttitor vut lundium? Diam, eu tempor natoque, montes ultrices! Cras magna etiam vut
		  vut sagittis? Dolor, in, platea nisi elementum urna ut dolor risus amet, habitasse ultricies, platea nascetur
		  nisi nunc ultricies diam sit montes duis tincidunt! Amet dolor.</p>

		<p>Ridiculus arcu, ut vut facilisis et egestas, cras magnis massa a, vut nunc velit rhoncus, elementum quis! Mid
		  nascetur. Phasellus pulvinar duis ultrices, ultrices est turpis dignissim, duis lundium, auctor adipiscing
		  lorem turpis mus, nunc. Dapibus ac lectus. Placerat. Natoque massa proin penatibus aliquam lorem tortor magna?
		  Enim ac! Dignissim eros eros nisi porta elementum adipiscing, augue tincidunt aenean. Natoque cum porttitor
		  vel nunc aenean proin platea etiam a arcu velit odio turpis mattis. Lorem, etiam sit urna, sed. Adipiscing
		  integer ac aliquet. Urna dapibus ut et ut rhoncus, dignissim porta ridiculus, turpis in tincidunt, cras eu
		  sagittis porta, amet aenean, scelerisque, egestas, cursus ultrices diam platea, magna et, mus, amet etiam
		  scelerisque adipiscing placerat habitasse ac egestas lectus.</p>
	  </div>
	</div>
  </div>


  <!-- Footer -->

  <footer class="row">
	<div class="large-12 columns">
	  <hr/>
	  <div class="row">
		<div class="large-6 columns">
		  <p>&copy; Copyright no one at all. Go to town.</p>
		</div>
		<div class="large-6 columns">
		  <ul class="inline-list right">
			<li><a href="#">Link 1</a></li>
			<li><a href="#">Link 2</a></li>
			<li><a href="#">Link 3</a></li>
			<li><a href="#">Link 4</a></li>
		  </ul>
		</div>
	  </div>
	</div>
  </footer>


  <h5>Welcome <%= current_user.email if current_user %></h5>

</div>

