<h1>Profile for <%= current_user.email %></h1>

<h3>My credit cards</h3>
<% current_user.credit_cards.each do |cc| %>
    <%= cc.cc_number %>
<% end %>

<%= link_to "Add credit card", addcc_path(current_user) %>

